.card-container {
    background-color: $orange;
    color:#333;
    max-width: 300px;
    width: 100%;
    
    // item avec marge
    .card-title,
    .card-description, 
    .card-time-cost-container {
        margin: 20px;
    }
      
    .card-title {
        font-size: 30px;
        font-weight: bold;
        padding-top: 20px;
        text-align: center;
    }
    .card-image {
        max-width: 300px;
        width: 100%;
        height: auto;
    }
    .card-description {
        font-size: 20px;
        font-weight: 600;
        color:#fff;
    }
    .card-time-cost-container {
        display: flex;
        justify-content: space-between;
        span {
            padding: 20px 0;
            font-size: 18px;
            color: #fff;
        }
    }
}